@model Banco.Models.CajaDeAhorro

@{
    ViewData["Title"] = "Create";
}

<h1>Nueva</h1>

<h4>CajaDeAhorro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            @if (ViewBag.error != null)
            {
                @switch (ViewBag.error)
                {
                    case (0):
                        <p class="alert alert-danger">Ingrese un monto correcto</p>
                        break;
                }
            }
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (ViewBag.Admin == true)
            {
                <div class="form-group">
                    <label name="id_titular" class="control-label">Cajas de Ahorro</label>
                    <select name="id_titular" class="form-control">
                        @foreach (var item in ViewBag.titulares)
                        {
                            <option value="@item.id">caja: @item.nombre @item.apellido | @item.dni</option>
                        }
                    </select>
                </div>
            }
            <div class="form-group">
                <label asp-for="cbu" class="control-label">CBU</label>
                <input asp-for="cbu" class="form-control" readonly value="@ViewBag.cbu" />
                <span asp-validation-for="cbu" class="text-danger"></span>
            </div>
            @if (ViewBag.Admin == true)
            {
                <div class="form-group">
                    <label asp-for="saldo" class="control-label">Saldo</label>
                    <input asp-for="saldo" class="form-control" value="@ViewBag.saldo" />
                    <span asp-validation-for="saldo" class="text-danger"></span>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label asp-for="saldo" class="control-label">Saldo</label>
                    <input asp-for="saldo" class="form-control" readonly value="@ViewBag.saldo" />
                    <span asp-validation-for="saldo" class="text-danger"></span>
                </div>
            }

            <br />
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" style="font-weight:bold; text-decoration:none; border-radius : 12px; box-shadow: 3px 5px 5px rgba(3, 32, 51, .8);border: solid blue; " />|
                <a class="btn p-2" style="color:black; font-weight:bold; text-decoration:none; border-radius : 12px; box-shadow: 3px 5px 5px rgba(3, 32, 51, .8);border: solid;" asp-action="Index">Volver</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}